@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Patua One';
  src: url(/fonts/PatuaOne-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-image {
  background-image: url(/images/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-hyphen {
  hyphens: auto;
}